.banner {
    background-color: rgb(223, 221, 230);
    color: brown;
    margin-top: 75px;
    text-align: center;
    padding: 10px 0;
}
.contact_us {
    color: black;
    text-align: center;
    padding: 10px 0;
}
#small-pic {
    height: 300px;
    width: 300px;
}
